doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:xlink="http://www.w3.org/1999/xlink", lang="pt-br")
  head
    meta(http-equiv="content-type", content="text/html;charset=UTF-8")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="theme-color", content="#FAA500")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection" content="telephone=no")
    meta(name="title", content="E-commerce home - Maeztra")
    meta(name="description", content="E-commerce home - Maeztra")
    meta(property="og:locale", content="pt_BR")
    meta(property="og:site_name", content="Maeztra")
    meta(property="og:title", content="E-commerce home - Maeztra")
    meta(property="og:description", content="Test for Maeztra")
    meta(property="og:url", content="#")
    meta(name="author", content="Carolina Laginestra")

    link(rel='shortcut icon', href='favicon.ico')
    link(rel="canonical", href="#")

    title E-commerce home - Maeztra

    link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="./css/main.min.css")

  body
  
    .bf-wrapper
      header.header
        .pitchbar
          .container
            .pitchbar__list
              a(href="#!", title="Promoções").pitchbar__text Acompanhe as melhores promoções disponíveis aqui na Maeztra.
        .header__top
          .container
            .header__top-content
              .menu.menu-mobile
                include ../images/header/menu.svg
              h1.logo
                a(href="/", title="Maeztra")
                  img(src="./images/header/logo.png" alt="Maeztra")
              form.search
                input(type="search", placeholder="O que você busca?", class="search__field")
                button(type="submit", class="primary-button search__button") Buscar

              .search-mobile

              .account 
                .account__title Minha conta

              .wishlist
                .wishlist__title Lista de desejos

              .cart
                .cart__title Meu carrinho

        .header__bottom
          nav.navbar
            .container
              mixin nav(link, title)
                li.navbar__item
                  a(href=link, title=title, class!=attributes.class)= title
              ul.navbar__list
                +nav('#!', 'Novidades')(class="navbar__link navbar-highlight")
                +nav('#!', 'Vestidos')(class="navbar__link")
                +nav('#!', 'Roupas')(class="navbar__link")
                +nav('#!', 'Sapatos')(class="navbar__link")
                +nav('#!', 'Lingerie')(class="navbar__link")
                +nav('#!', 'Acessórios')(class="navbar__link")
                +nav('#!', 'Outlet')(class="navbar__link navbar-uppercase")

      main
        section
          .banner
            .banner-desktop.banner-slider
              mixin bannerDesktop(...images)
                each image in images
                  .box-banner
                    a(href="", title="Primeiro banner")
                      img.banner__image(src="./images/home/banner-desktop.jpg" alt="Promoções de outono")
              +bannerDesktop(1, 2, 3, 4, 5)

            .banner-mobile.banner-slider
              mixin bannerMobile(...images)
                each image in images
                  .box-banner
                    a(href="", title="Primeiro banner")
                      img.banner__image(src="./images/home/banner-mobile.jpg" alt="Promoções de outono")
              +bannerMobile(1, 2, 3, 4, 5)

        section
          .container
            .benefits
              .benefits__title Por que comprar na Maeztra?
              .benefits__list
                mixin benefits(icon, iconTitle, title, description)
                  .benefits__list-item
                    img(src=icon alt=iconTitle class!=attributes.class)
                    .benefits__content
                      .benefits__name=title
                      .benefits__description=description
                +benefits('./images/home/icon-world.png', 'Produtos importados', 'Produtos importados', 'Produto de Alta Qualidade')(class="benefits__icon")
                +benefits('./images/home/icon-store.png', 'Estoque no Brazil', 'Estoque no Brazil', 'Produtos mais perto de você!')(class="benefits__icon")
                +benefits('./images/home/icon-dev.png', 'Trocas Garantidas', 'Trocas Garantidas', 'Trocas em até 48 horas, vejas as regras')(class="benefits__icon")
                +benefits('./images/home/icon-sale.png', 'Ganhe 5% off', 'Ganhe 5% off', 'Pagando à vista no Cartão')(class="benefits__icon")
                +benefits('./images/home/icon-truck.png', 'Frete Grátis', 'Frete Grátis', 'Em compras acima de R$ 499,00')(class="benefits__icon")


        section
          .container
            .brands
              h2.brands__title Marcas parceiras
              .brands__list
                mixin brands(img, title, link)
                  .box-banner
                    a(href=link, title=title)
                      img.brands__image(src=img alt=title)
                +brands('./images/home/parceiro-comma.jpg', 'Comma', '#!')
                +brands('./images/home/parceiro-melissa.jpg', 'Melissa', '#!')
                +brands('./images/home/parceiro-forever21.jpg', 'Forever21', '#!')
                +brands('./images/home/parceiro-zara.jpg', 'Zara', '#!')
                +brands('./images/home/parceiro-ann-taylor.jpg', 'Ann Taylor', '#!')

        section
          .container
            .shelf
              h2.shelf__title As mais pedidas
              .shelf__list
                mixin shelf(...items)
                  each item in items
                    .shelf__item
                      a(href="#!", title="Acessar o produto Faux Suede Mini Skirt")
                        img.shelf__image(src="./images/home/produto-01.jpg", alt="Faux Suede Mini Skirt")
                      .shelf__info
                        ul.shelf__colors
                          li
                            img.shelf__colors-color(src="./images/home/caramel.jpg", alt="Caramelo")
                          li
                            img.shelf__colors-color(src="./images/home/red.jpg", alt="Vermelho claro")
                          li
                            img.shelf__colors-color(src="./images/home/light-blue.jpg", alt="Azul claro")
                          li
                            img.shelf__colors-color(src="./images/home/blue.jpg", alt="Azul escuro")
                        a(href="#!", title="Acessar o produto Faux Suede Mini Skirt")
                          ins.shelf__price
                            | R$ 500,00
                          h4.shelf__name
                            | Faux Suede Mini Skirt
                          .shelf__description A faux suede mini skirt featuring exposed #[br] button-front closures and panel seam #[br] construction.
                        button.shelf__button.primary-button
                          | Adicionar
                    .shelf__item
                      a(href="#!", title="Acessar o produto Ruched Rose Print Mini Skirt")
                        img.shelf__image(src="./images/home/produto-02.jpg", alt="Ruched Rose Print Mini Skir")
                      .shelf__info
                        ul.shelf__colors
                          li 
                            img.shelf__colors-color(src="./images/home/black.jpg", alt="Preto")
                          li  
                            img.shelf__colors-color(src="./images/home/dark-red.jpg", alt="Vermelho")
                          li
                            img.shelf__colors-color(src="./images/home/light-green.jpg", alt="Verde claro")
                          li
                            img.shelf__colors-color(src="./images/home/off-white.jpg", alt="Off white")
                        a(href="#!", title="Acessar o produto Faux Suede Mini Skirt")
                          ins.shelf__price
                            | R$ 320,00
                          h4.shelf__name
                            | Ruched Rose Print Mini Skirt
                          .shelf__description A satin mini skirt featuring an allover floral print, ruched side with self-tie closure, concealed back zipper, and a flounce hem.
                        button.shelf__button.primary-button
                          | Adicionar
                +shelf(1, 2, 3)

        section
          .container
            .collection
              .collection__content
                h3.collection__title Lorem ipsum
                p.collection__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Interdum mauris posuere fusce proin mattis. Hendrerit cras ut nunc enim dictum. Mattis proin ut quis donec sed eget nulla. Vel mi ut mauris integer. Nibh sagittis in lobortis sed cursus condimentum velit pharetra. Amet luctus ut vulputate scelerisque .
              
              .collection__banner.collection__banner-desktop
                .box-banner
                  a(href="")
                    img.collection__image(src="./images/home/banner-02-desktop.jpg")
              
              .collection__banner.collection__banner-mobile
                .box-banner
                  a(href="")
                    img.collection__image(src="./images/home/banner-02-mobile.jpg")

      footer.footer

        .newsletter
          .container
            .newsletter__content
              .newsletter__title Receba nossa newsletterr
              form(action="")
                .newsletter__field
                  input(maxlength='100', name='email', type='text', required, placeholder="Digite seu e-mail")
                  button.primary-button(type='submit') Enviar

        .container
          .footer__content
            .footer__menu
              h3.footer__title Informações
              ul.footer__list
                li.footer__item
                  a.footer__link(href="#!", title="Quem somos") Quem Somos
                li.footer__item
                  a.footer__link(href="#!", title="Prazo de Envio") Prazo de Envio
                li.footer__item
                  a.footer__link(href="#!", title="Trocas e Devoluções") Trocas e Devoluções
                li.footer__item
                  a.footer__link(href="#!", title="Promoções e Cupons") Promoções e Cupons
            .footer__menu
              h3.footer__title Minha Conta
              ul.footer__list
                li.footer__item
                  a.footer__link(href="#!", title="Minha Conta") Minha Conta
                li.footer__item
                  a.footer__link(href="#!", title="Meus Pedidos") Meus Pedidos
                li.footer__item
                  a.footer__link(href="#!", title="adastre-se") Cadastre-se
            .footer__menu
              h3.footer__title Onde nos Encontrar
              ul.footer__list
                li.footer__item
                  a.footer__link(href="#!", title="Lojas") Lojas
                li.footer__item
                  a.footer__link(href="#!", title="Endereço") Endereço
        
        .footer__bottom
          .container 
            .footer__bottom-content
              .footer__social
                a.footer__social-link(href="", alt="Ir ao facebook")
                  img(src="./images/footer/icon-facebook.png", title="Facebook")
                a.footer__social-link(href="", alt="Ir ao Linkedin")
                  img(src="./images/footer/icon-linkedin.png", title="Linkedin")
                a.footer__social-link(href="", alt="Ir ao Instagram")
                  img(src="./images/footer/icon-instagram.png", title="Instagram")
                a.footer__social-link(href="", alt="Ir ao Youtube")
                  img(src="./images/footer/icon-youtube.png", title="Youtube")
              .footer__cards
                img.footer__cards-item(src="./images/footer/icon-visa.png", title="Visa")
                img.footer__cards-item(src="./images/footer/icon-mastercard.png", title="Master card")
                img.footer__cards-item(src="./images/footer/icon-visa.png", title="Visa")
                img.footer__cards-item(src="./images/footer/icon-mastercard.png", title="Master card")
              .footer__developed
                .footer__developed-item
                  .footer__developed-text Powered by
                  a(href="#!", title="Vtex") 
                    img(src="./images/footer/icon-vtex.png")
                .footer__developed-item
                  .footer__developed-text Developed by
                  a(href="#!", title="Maeztra")
                    img(src="./images/footer/icon-maeztra.png")

      include newsletter.pug


  script(src="https://code.jquery.com/jquery-3.5.1.min.js", integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
  script(src='./js/all.js')

